.card {
  border-radius: calc(0.25rem);
  width: 100%;
  break-inside: avoid;
}

.fav-icon-container {
  position: absolute;
  right: 5%;
  top: 5%;
  z-index: 9;
}

.fav-icon-container button {
  background: #fbfaf5;
}

.fav-icon-heart {
  color: #dc3545;
}

.card-img-container {
  padding: 0 auto;
  position: relative;
}

.card-img-container .card-img-top {
  z-index: 0;
  position: relative;
  max-height: 15rem;
}

.clubName {
  text-align: left;
  font-size: 20px;
}

.status-container {
  margin-top: 2px;
}

.status {
  padding: 10px 10px;
}

@media (min-width: 1px) {
  .recDate {
    text-align: left;
    font-size: 12px;
  }

  .clubName {
    text-align: left;
    font-size: 16px;
  }

  .card-img-container .card-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-size: 60px;
  }
}

@media (min-width: 840px) {
  .recDate {
    text-align: left;
    font-size: 14px;
  }

  .clubName {
    text-align: left;
    font-size: 17px;
  }
}

@media (min-width: 1200px) {
  .recDate {
    text-align: left;
    font-size: 17px;
  }

  .clubName {
    text-align: left;
    font-size: 20px;
  }

  .card-img-container .card-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-size: 100px;
  }
}
