.profileContent {
  height: 33rem;
  width: 100%;
  overflow: hidden;
  margin-top: 1rem;
  padding: 3% 3%;
}

.title {
  text-align: left;
  margin-bottom: 1%;
  width: fit-content;
}

.icon-noFavs {
  margin-top: 5%;
  width: 45%;
  height: 45%;
}

.download-icon {
  float: left;
}
