.profileContent {
  height: 33rem;
  width: 100%;
  overflow: hidden;
  margin-top: 1rem;
  padding: 3% 3%;
}

.title {
  text-align: left;
  margin-bottom: 1%;
}

.icon-noFavs {
  margin-top: 3%;
  width: 30%;
  height: 340%;
}
