.profileContent {
  height: 33rem;
  width: 100%;
  overflow: hidden;
  margin-top: 2rem;
  padding: 5% 3%;
  float: left;
}

table {
  font-size: 15px;
}

.sizeSmall {
  height: 30px !important;
  width: 30px !important;
}
