.container-fluid-info {
  padding: 3% 0%;
  width: 100%;
}

.first-row {
  height: 100%;
  display: inline-block;
}

.club-paper {
  padding: 5%;
  max-height: 500px;
  overflow-y: auto;
}

.svg {
  height: 17px;
  width: 17px;
  margin-bottom: 9px;
  margin-left: 7px;
}

@media (min-width: 1px) {
  .content {
    position: relative;
    padding: 10% 15% 15% 15%;
    width: 100%;
    height: 70%;
    font-size: 220px;
  }
}

@media (min-width: 992px) {
  .content {
    position: relative;
    padding: 7% 20% 20% 20%;
    width: 100%;
    height: 35%;
    font-size: 120px;
  }
}
