.container-fluid-info {
  margin-top: 2%;
  width: 50%;
  text-align: left;
}

.icon-paper {
  min-height: 100%;
  max-height: min-content;
  overflow: hidden;
  height: 515px;
}

.first-row {
  height: 100%;
  display: inline-block;
}

.club-paper {
  padding: 5%;
  overflow-y: auto;
  height: 515px;
}

.svg {
  height: 17px;
  width: 17px;
  margin-bottom: 9px;
  margin-left: 7px;
}

.icon-content {
  width: 100%;
  height: 130%;
  text-align: center;
  transform: rotate(-30deg) scale(1.5, 1.5);
  line-height: 130%;
  letter-spacing: 1.3rem;
  overflow: hidden;
  font-size: 130px;
  opacity: 0.7;
}
