.sidenav {
  height: 25rem;
  width: 100%;
  min-width: 7rem;
  margin-top: 2rem;
  position: relative;
  top: 0%;
  left: 0;
}

a,
a:hover {
  color: black;
  text-decoration: none;
}

.sideItem {
  transition: 0.5s;
  font-weight: bold;
  font-size: large;
  padding: 5% 0%;
}

.sideItem:hover {
  background-color: #e8e8e8;
}

.listContainer {
  padding-top: 10%;
}
