/* General */

body {
  font-family: 'Lato', sans-serif;
  text-align: center;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
}

*:focus {
  outline: 0 !important;
}

p {
  color: rgb(54, 32, 32);
}

.container-fluid {
  padding: 0% 6%;
}