/* General */

body {
  font-family: 'Lato', sans-serif;
  text-align: center;
  background-color: #fff;
}

.add-Area {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
}

p {
  color: rgb(54, 32, 32);
}

/* Nav Bar */

.navbar {
  padding: 1.2rem 0 1.2rem;
  background-color: white;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
  color: #000;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Lato', sans-serif;
}

/* Container */

.container-fluid {
  padding: 0% 6%;
}

.container-fluid-add {
  padding: 2% 5%;
}

/* Add Page */

#club-Area {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.card {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.card-img-container {
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);
  padding: 0 auto;
  position: relative;
}

.card-img-container .card-img-top {
  z-index: 0;
  position: relative;
}

@media (min-width: 1px) {
  .card-img-container .card-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-size: 60px;
  }

  .content {
    position: relative;
    padding: 10% 15% 15% 15%;
    width: 100%;
    height: 70%;
    font-size: 220px;
  }

}

@media (min-width: 992px) {
  .card-img-container .card-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-size: 100px;
  }

  .content {
    position: relative;
    padding: 7% 20% 20% 20%;
    width: 100%;
    height: 35%;
    font-size: 120px;
  }
}



.clubInfo-container {
  margin-top: 3%;
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}